


body{
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
}
/*-----Navigation------*/
.top-nav{
  display:flex;
  justify-content: space-between;
  padding: 25px 20px;
  overflow: hidden;
  z-index:1;
}
.nav-img{
  position: relative;
  top: 3px;
}

#close{
  display: none;
  width: 20px;
}

.desktop-nav{
  display: none;
}

.desktop-button{
  display: none;
}

.top-section{
  background-image: url("../images/bg-intro-mobile.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:280px;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  overflow: hidden;
  z-index:-1;
}

 #mockups{
  height: 401px;
  width: 325px;
  position:relative;
  bottom: 109px;


}

.fade-top-section{
    padding-top: 20px;
  background-image: linear-gradient( rgb(45, 49, 77), rgba(35,49,77, 0.5) ),url("../images/bg-intro-mobile.svg");
}

nav{
  background-color: #fff;
    font-family: Arial, sans-serif;
  margin: 0 20px;
  text-align:center;
  padding: 20px;
}
.mobile-nav, .desktop-nav{
  display: none;
}
a{
  color: black;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-decoration: none;;
}
ol{
  list-style-type: none;
  margin:0;
  padding:0;
}

li{
  padding: 12.5px 0 12px 0;
  text-decoration: none;
}

/*----intro section-------*/
.intro{


  text-align: center;
  padding:  50px 0 120px 0;

}
.hide-intro{
background: linear-gradient( rgb(45, 49, 77,0.5), rgba(35,49,77, 0) );
}
h1{
  font-family: 'Public Sans', sans-serif;
 font-size:2.5rem;
  font-weight: 300;
  margin: 0;
}

p{
  color: #707070;
  line-height: 2;
  margin:0 20px 0 20px;
  padding: 10px 0 40px 0;
}

button{
  background: linear-gradient(to right, #33D35E, #2AB6D9);
  border-radius: 30px;
  border:none;
  color: #fff;
 padding:15px 40px;

}

/*---top-middle-section---*/
.top-middle-section, .bottom-middle-section{
  margin:0;
  padding: 50px 20px;
  text-align: center;;
}
.top-middle-section{
  background-color: #F4F5F7;
}
.bottom-middle-section{
  background-color: #fafafa;
    overflow:hidden;
}

h2{
  font-size: 2rem;
  font-weight: 300;
  margin-top:0;
}

/*----icon-card-----*/
h3{
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

/*---img-card----*/

.bottom-middle-section img{
  height: 200px;
  width: 330px;

}
.img-card{
  background-color: #fff;
  margin: 0 20px 30px 20px;
  text-align: left;
}
.bottom-middle-section h3{
  font-size: 1rem;
  font-weight: 400;
  margin:0;
  padding: 0 5px 0 20px;
}

.bottom-middle-section p{
  font-size: 0.8rem;
}

.author{
  font-size: 0.6rem;
  margin:0;
  padding: 10px 20px;
}

/*----contact section-----*/
.contact-section{
  background-color: #2D314D;
  padding: 43px 80px;
  text-align:center;
}
.social-links{
  padding-top: 30px;
}
.social-links img{
  padding: 0 5px;
}
.contact-section li{
  padding-top:10px;
  color: white;
}
.contact-section ol{
  padding: 30px 0;
}
.contact-section p{
  padding: 30px 0 20px 0;
  font-size: 0.9rem;
  margin:0;
}
@media(min-width: 50rem){
.top-nav {
margin: 0 5%;
padding: 20px 0 0 0;
max-height: 80px;
}
  #hamburger{
    display: none;
  }

  .desktop-nav{
    color: #9597A5;
    display: block;
    position: relative;
    bottom: 10px;

  }
  .desktop-nav  a{
    color: #9597A5;
    font-size: 14px;
  }

  .desktop-nav li{
    display: inline;
    padding: 0 10px;
  }

  .top-nav img{
    max-width: 108px;
    max-height: 20px;
    padding: 0 30px;
    position: relative;
    top: 10px;
  }


  .desktop-button{
    display: block;
    font-size: 14px;
    height: 44px;
    padding:0 40px;

  }

  .intro-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "intro picture";
  }

  .top-section{
    grid-area: picture;

  }
  .intro{
    grid-area: intro;

  }
}
